* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url(/fonts/BootsAndSpurs.ttf);

html {
    scroll-behavior: smooth;
}

/* First section */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: black;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 50px 0px 50px;
}

.logo {
    text-decoration: none;
    font-size: 2rem;
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-right: auto;
}


.logo:hover {
    color: yellow;
}

nav ul li {
    float: left;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: .5s;
    padding: 25px;
}

.nav-item:hover {
    background-color: gray;
}

.first-section {
    background-image: url(images/home-header.jpg);
    background-size: cover;
    width: 100%;
    height: 850px;

}

.first-section h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 400px 0px 0px 220px;
    font-size: 3rem;
    font-weight: bold;
}

.first-section .btn-view {
    background-color: red;
    text-decoration: none;
    font-size: 1.5rem;
    width: 200px;
    height: 35px;
    border-radius: 7px;
    text-align: center;
    margin-left: 450px;
    color: white;
    display: inline-block;
    padding-top: 3px;
}

.first-section .btn-view:hover {
    background-color: lightgray;
}

/* Second Section */

.second-section {
    padding: 150px 200px;
    display: flex;
    justify-content: center;


}


.second-section-content {
    display: flex;
    gap: 250px;
    align-items: center;
}

.guitar-h2 {
    font-size: 2rem;
    padding-bottom: 1em;
}

.first-ul {
    padding-left: 17px;
    font-size: 1.2rem;
}

.second-section-content col-last {
    align-self: flex-end;

}

.playingguitar {
    width: 520px;
    height: auto;
    border-radius: 50px;
}

/* Third Section */

.main-reviews {
    display: flex;
    width: 100%;
    max-width: 1200px;
    font-size: 1.2rem;
    justify-content: space-around;
    gap: 9em;
}

.reviews-content {
    text-align: center;
    padding-bottom: 60px;
    font-size: 2rem;

}

.Bob {
    width: 60px;
    border-radius: 50%;
}

.bob-img {
    padding-top: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.review-1-p-2 {
    display: inline-block;
}

.review-2-p-2 {
    display: inline-block;
}

.Sally {
    width: 60px;
    border-radius: 50%;
}

.sally-img {
    padding-top: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.sub-section-3 {
    display: flex;
    justify-content: center;
    font-size: 1rem;

}

.review-1 {
    max-width: 21em;
    align-content: flex-start;
}

.review-2 {
    max-width: 21em;
}

.section-3 {
    background-color: lightgray;
    width: 100%;
    height: 25em;
}

.section-3-main-content {
    padding: 3em 0em;
}

/* Fourth Section */


.section-4-tile {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.section-4-main-detail {
    display: flex;
}



.section-4-view-button,
.section-4-view-button-2,
.section-4-view-button-3,
.section-4-view-button-4 {
    width: 5em;
    height: 2em;
    text-decoration: none;
    background-color: red;
    border-radius: 0.3em;
    border-style: none;
}

.section-4-view-button-2 {
    background-color: green;
}

.section-4-btn-1 {
    padding-left: 2.6em;

}

.section-4-btn-1 :hover {
    background-color: blue;

}

.section-4-view-button a {
    text-decoration: none;
    color: white;

}

.section-4-item-1,
.section-4-item-2,
.section-4-item-3,
.section-4-item-4 {
    font-size: 0.9rem;

}

.view-guitar-list {
    display: flex;
    gap: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-4-view-button-2 a {
    text-decoration: none;
    color: white;

}

.span-section-4-2 {
    padding-right: 0.5em;
    text-decoration: line-through;
}

.section-4-view-button-3 a {
    text-decoration: none;
    color: white;

}

.section-4-view-button-4 a {
    text-decoration: none;
    color: white;

}

.section-4-tile {
    padding: 3em 39em 1.5em 0em;
    font-size: 1.5rem;
    font-weight: normal;
}

.footer {
    background-color: black;
    width: 100vw;
    height: 3em;
    padding-top: 3em;
}