* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: sans-serif;
    src: url()'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
} */

@import url(/fonts/BootsAndSpurs.ttf);

html {
    scroll-behavior: smooth;
}

/* First section */
body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    font-size: 100%;
    font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: black;

}

nav {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 1em 14em;
    gap: 15%;
    /* flex-wrap: wrap; */
}

.logo {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.5s;
}


.logo:hover {
    color: yellow;
}

nav ul li {
    float: left;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
}

.nav-item {
    color: white;
    text-decoration: none;
    transition: .5s;
    padding: 25px;
}

.nav-item:hover {
    background-color: gray;
}

.first-section {
    background-image: url(images/home-header.jpg);
    background-size: cover;
    width: 100%;
    height: 850px;

}

.first-section h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 400px 0px 0px 220px;
    font-size: 3rem;
    font-weight: bold;
}

.first-section .btn-view {
    background-color: red;
    text-decoration: none;
    font-size: 1.5rem;
    width: 200px;
    height: 35px;
    border-radius: 7px;
    text-align: center;
    margin-left: 450px;
    color: white;
    display: inline-block;
    padding-top: 3px;
}

.first-section .btn-view:hover {
    background-color: lightgray;
}

/* Second Section */

.second-section {
    padding: 150px 200px;
    display: flex;
    justify-content: center;


}


.second-section-content {
    display: flex;
    gap: 250px;
    align-items: center;
}

.guitar-h2 {
    font-size: 2rem;
    padding-bottom: 1em;
}

.first-ul {
    padding-left: 17px;
    font-size: 1.2rem;
}

.second-section-content col-last {
    align-self: flex-end;

}

.playingguitar {
    width: 520px;
    height: auto;
    border-radius: 50px;
}

/* Third Section */

.main-reviews {
    display: flex;
    width: 100%;
    max-width: 1200px;
    font-size: 1.2rem;
    justify-content: space-around;
    gap: 9em;
}

.reviews-content {
    text-align: center;
    padding-bottom: 60px;
    font-size: 2rem;

}

.Bob {
    width: 60px;
    border-radius: 50%;
}

.bob-img {
    padding-top: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.review-1-p-2 {
    display: inline-block;
}

.review-2-p-2 {
    display: inline-block;
}

.Sally {
    width: 60px;
    border-radius: 50%;
}

.sally-img {
    padding-top: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.sub-section-3 {
    display: flex;
    justify-content: center;
    font-size: 1rem;

}

.review-1 {
    max-width: 21em;
    align-content: flex-start;
}

.review-2 {
    max-width: 21em;
}

.section-3 {
    background-color: lightgray;
    width: 100%;
    height: 25em;
}

.section-3-main-content {
    padding: 3em 0em;
}

/* Fourth Section */

.section-4 {
    padding-bottom: 3em;
}

.section-4-tile {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.section-4-main-detail {
    display: flex;
}



.section-4-view-button,
.section-4-view-button-2,
.section-4-view-button-3,
.section-4-view-button-4 {
    width: 5em;
    height: 2em;
    text-decoration: none;
    background-color: red;
    border-radius: 0.3em;
    border-style: none;
}

.section-4-view-button-2 {
    background-color: green;
}

.section-4-btn-1 {
    padding-left: 2.6em;

}

.section-4-btn-1 :hover {
    background-color: blue;

}

.section-4-view-button a {
    text-decoration: none;
    color: white;

}

.section-4-item-1,
.section-4-item-2,
.section-4-item-3,
.section-4-item-4 {
    font-size: 0.9rem;

}

.view-guitar-list {
    display: flex;
    gap: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-4-view-button-2 a {
    text-decoration: none;
    color: white;

}

.span-section-4-2 {
    padding-right: 0.5em;
    text-decoration: line-through;
}

.section-4-view-button-3 a {
    text-decoration: none;
    color: white;

}

.section-4-view-button-4 a {
    text-decoration: none;
    color: white;

}

.section-4-tile {
    padding: 3rem 39rem 1.5rem 0rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.guitar-list-img {
    transition: all 0.4s ease;
    position: relative;
    z-index: 100;
}

.guitar-list-img:hover {
    scale: 105%;
}

.l-footer {
    display: flex;
    background-color: black;
    width: 100vw;
    min-height: 3rem;
    /* margin-top: 4em; */
    justify-content: center;
    flex: 0 1 auto;
}

.l-footer p {
    color: white;
    align-content: center;
}

.l-header {
    display: flex;
    flex: 1 0 auto;
    position: fixed;
    overflow: hidden;
    z-index: 500;
}

.l-main {
    flex: 2 1 auto;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

/* Guitar page */

.guitar-page-title h2 {
    display: flex;
    padding-top: 150px;
    padding-bottom: 3rem;
    justify-content: center;
    font-size: 2rem;
}

.guitar-page-item-list-1 {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    max-width: 320px;
}

.guitar-page-item-detail-1 img {
    min-width: 200px;
    max-width: 320px;

}

.guitar-page-item-name-btn-1 {
    display: flex;
    justify-content: space-between;

}

.guitar-page-item-btn-1 .guitar-page-item-btn-link-1 {
    display: flex;
    background-color: red;
    text-decoration: none;
    color: white;
    width: 5rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    border-style: none;
}

.guitar-page-item-btn-1:hover .guitar-page-item-btn-link-1 {
    background-color: blue;
}

.guitar-page-main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    /* justify-content: center; */
    width: 80%;
    padding-bottom: 4rem;
    justify-content: center;
}

.guitar-page-main-com {
    display: flex;
    max-width: 90%;
    justify-content: center;
}

.guitar-page {
    display: flex;
    justify-content: center;
}

.guitar-page-item-btn-1 {
    width: 5em;
    height: 2em;
    text-decoration: none;
    border-radius: 0.3em;
    border-style: none;
}

.guitar-page-item-btn-1 {
    width: 5em;
    height: 2em;
    text-decoration: none;
    border-radius: 0.3em;
    border-style: none;
}

.guitar-span {
    padding-right: 0.5em;
    text-decoration: line-through;
}

/* Contact */

.contact-title {
    display: flex;
    justify-content: center;
    padding: 7rem 0rem 2rem 0rem;
}

.main-container-contact {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 1rem;
    margin-bottom: 25em;
}

.contact-first-table tr {
    display: flex;
    flex-direction: column;
}

.contact-first-section {
    width: 17rem;
    padding-top: .8rem
}

.contact-tr-1 td {
    padding-top: 0.2rem;
}

.contact-second-table tr {
    display: flex;
    flex-direction: column;
}

.message-contact {
    width: 17rem;
    max-width: 100%;
    height: 9.8rem;
}

.contact-tr-2 td {
    padding-top: 0.2rem;
}

.contact-first-section {
    font-size: 1rem;
}

@media screen and (max-width: 600px) {

    .main-container-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-bottom: 13.42rem;
    }

}


/* imp! Sec */


/* Utilities

.u-section-gutter{
    padding: 106px 30px;
} */